html,
body,
#potato,
.container {
  height: 100%;
  display: flex;
  justify-content: center; /* '진행축' 정렬과 아이템 사이의 간격을 제어 */
}
.movies {
  display: flex; /* 진행방향 가로로 바꿈*/
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap; /* 요소들의 총넓이가 부모 넓이 보다 클때 다음줄로 이어서 정렬 */
  padding: 50px;
  padding-top: 70px;
  width: 80%;
}
